@import "tailwindcss";

html {
  font-size: 10px;
}

@theme {
  --spacing: 10px;

  /* • linear-gradient • */
  --background-image-main-gradient: linear-gradient(
    160.41deg,
    #8c82ff -5.15%,
    #4a3aff 87.35%
  );

  --background-image-light-gradient: linear-gradient(
    180deg,
    #ffffff 0%,
    #f1f2f9 100%
  );

  /* • border • */
  --color-border-active: #d2ceff;

  /* • shadow • */
  --shadow-element:
    0px 3px 4px 0px #dfeeff1a inset, 0px 1px 1px 0px #ffffff1a inset,
    0px -2px 2px 0px #00428926 inset, 0px 2px 5px 0px #4a3aff40;

  --shadow-inset-top: inset 0px -1px 1px 0px #96a1ac1f;

  --shadow-neutral-shadow: 0px 1px 8px 0px #19213d0f;

  /* • color • */
  --color-purple-dark: #170f49;
  --color-light-purple: #4a3aff;
  --color-purple-muted: #6f6c8f;

  /* gray */
  --color-gray-50: #fff;
  --color-gray-100: #f1f0fb;
  --color-gray-200: #f1f2fa;
  --color-gray-300: #f1f2f9;
}
